* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white ;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
    background-color: rgb(17, 0, 113);
    font-size: 0.9rem;
    width: 100vw;
}

nav ol {
    display: flex;
    justify-content: center;

}

nav ol li {
    list-style: none;
    margin: 0 23px;
}

nav ol li a {
    text-decoration: none;
    color: white;
}

nav ol li a:hover {
    color: gold;
}
 .left {
     font-size: 1.2rem;
     padding-left: 0px;
 }

 .profile-image {
     margin-left: 10px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     overflow: hidden;
 }

 .profile-image img {
     width: 100%;
     height: auto;
     border: none;
 }

 .search {
     margin-right: 20px;
 }

 .search form {
     display: flex;
     align-items: center;
     
 }

 .search input[type="text"] {
     padding: 6px 10px;
     border-radius: 5px;
     border: none;
     margin-right: 5px;
    border: 2px solid black;
        border-radius: 10px;
 }

 .search button {
     padding: 6px 10px;
     border: none;
     background-color: black;
     color: white;
     border-radius: 5px;
     cursor: pointer;
 }

 .search button:hover {
     background-color: gold;
     color: black;
 }