  body {
      font-family: 'Roboto', sans-serif;
      background-image: url('https://source.unsplash.com/1600x900/?food');
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
  }

  .navbar {
      background-color: #000;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      height: 70px;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
  }

  .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
  }

  .navbar-links {
      display: flex;
      gap: 30px;
  }

  .nav-link {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      transition: background-color 0.3s ease;
      font-size: 1.2rem;
      margin-right: 5px;

  }

  .nav-link:hover {
      background-color: #0b2aff;
  }

  .search-bar {
      display: flex;
      align-items: center;
      height: 70px;

  }

  .search-input {
      width: 100%;
      max-width: 300px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 1rem;
  }

  .search-button {
      background-color: #0b2aff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      margin-left: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      font-size: 1rem;
  }

  .search-button:hover {
      background-color: #0b2aff;
      color: #fff;
  }


  .logo-img {
      height: 30%;
      width: auto;
      max-width: 100%;
      margin-left: 0;
  }

  .form-container {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 20px auto;
      margin-top: 110px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
  }

  .slidebar {
      width: 350px;
      padding: 20px;
      background-color: #000000;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      color: white;
  }

  .slidebar h2 {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
      text-align: left;
      color: white;
  }

  .slidebar form {
      margin-bottom: 20px;
  }

  .slidebar label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #ffffff;
  }

  .slidebar input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }

  .slidebar button[type="submit"],
  .add-recipe-form button[type="submit"] {
      background-color: #0b2aff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%;
      margin-bottom: 10px;
  }

  .slidebar button[type="submit"]:hover,
  .add-recipe-form button[type="submit"]:hover {
      background-color: #d32f2f;
  }

  .add-recipe-form {
      margin-top: 20px;
      margin-bottom: 30px;
  }

  .datatable-container {
      flex-grow: 1;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-left: 20px;
      width: calc(100% - 300px);
      overflow-x: auto;
      max-height: 650px;
      overflow-y: auto;
      border: 2px solid black;
  }

  .dataTables_wrapper {
      overflow-x: hidden;
  }

  .datatable h2 {
      margin-bottom: 20px;
      font-size: 24px;
      color: white;
      text-align: center;
  }

  .view-recipe-btn {
      background-color: #0b2aff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .view-recipe-btn:hover {
      background-color: #45a049;
  }

  table.dataTable {
      width: 100% !important;
      margin: 0 auto !important;
      clear: both;
      border-collapse: collapse;
      border-spacing: 0;
      color: #fff;
      background-color: #333;
      table-layout: fixed;
      word-wrap: break-word;
  }

  table.dataTable thead th {
      background-color: #000000;
      font-weight: bold;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  table.dataTable tbody td {
      padding: 10px;
      color: black;
      border-bottom: 1px solid #555;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  table.dataTable tbody tr:hover {
      background-color: #444;
  }

  .recipe-card {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      max-height: 90%;
      overflow-y: auto;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      z-index: 100;
      display: none;
  }

  .recipe-card.open {
      display: block;
  }

  .recipe-card .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;
      padding: 8px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
  }

  .recipe-card .close-btn:hover {
      background-color: #ff9924;
  }

  .recipe-card h2 {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
  }

  .recipe-card .recipe-details {
      margin-bottom: 15px;
  }

  .recipe-card .recipe-details strong {
      color: #333;
  }

  .recipe-card .recipe-details span {
      font-weight: bold;
      color: #333;
  }

  .recipe-card .recipe-details p {
      margin-bottom: 10px;
      line-height: 1.6;
      color: #555;
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }

  .fade-in {
      animation: fadeIn 0.5s ease-out;
  }